.header {
  text-align: center;
  font-size: 24px;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
  background: black;
  color: white;
}

@media all and (max-width: $mobile-width) {

}
