.menu {
    display: none;
}

@media all and (max-width: $mobile-width) {

  .menu {
    background: black;
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
    padding: 10px 15px;
    position: relative;

    ul {
      li {
        padding: 10px;
        a {
          color: white;
        }
      }
    }
  }

  // Show hamburger menu
  .collapse.active {
    display: block;
  }

  .collapse {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .button-menu {
    background: none;
    border: none;
    color: white;
    display: block;
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 10;
    .fa {
      font-size: 20px;
    }

  }

} // end @media mobile
