// Typography
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    font-family: 'Lato', sans-serif;
    font-size: 11pt;
}

a {
  text-decoration: none;
  font-weight: bold;
}

button {
 font-family: inherit;
 font-size: 10pt;
 font-weight: bold;
}

footer {
  font-family: monospace;
  font-size: 9pt;
}
