// Typography
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
}

a {
  color: $color-main-blue;
  text-decoration: none;
  font-weight: bold;
}

time {
  font-weight: 300;
}

button {
 font-family: inherit;
 font-weight: bold;
}

footer {
  font-family: monospace;
}


// Mobile
@media all and (max-width: $mobile-width) {
  body {
      font-size: 11pt;
  }
}

// Tablet
@media all and (min-width: $mobile-width+1px) and (max-width: $tablet-width) {
  body {
      font-size: 13pt;
  }
}
