.header {
  background: $color-main-blue;
  color: white;
  font-family: 'Billabong', sans-serif;
  font-size: 30px;
  text-align: center;
  left: 0;
  padding: 15px 10px 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media all and (max-width: $mobile-width) {

}
