.collapsable-menu {
  display: none;
}

.regular-menu {
  background: $color-superlight-grey;
  height: 100%;
  margin: 52px 0 0;
  li {
    padding: 10px 5px;
    &.active {
      background: $color-superlight-blue;
    }
  }
}

.hamburger-btn {
  display: none;
}

/* Mobile */
@media all and (max-width: $mobile-width) {
  .collapsable-menu {
    background: $color-main-blue;
    display: block;
    height: 100%;
    left: -75%;
    padding: 0;
    position: fixed;
    top: 0;
    @include transition(transform 0.5s);
    width: 75%;
    z-index: 30;
    ul {
      li {
        padding: 17.5px 30px;
        border-bottom: 1px solid;
        @include color-border-white-opacity(0.1);
        a {
          color: white;
          // Space between icon and text
          .fa:after {
            content: '\00a0\00a0';
            display: inline;
          }
        }
        &.active {
          a {
            color: $color-light-blue;
          }
        }
      }
      // Instacatz title un collapsable-menu
      li:first-child {
        color: $color-white;
        background: $color-dark-blue;
        border: none;
        font-family: 'Billabong', sans-serif;
        font-size: 25px;
        padding: 15px 30px 10px;

      }
    }
    &.active {
      @include transform(translateX(100%));
    }
  }


  .shadow-screen {
    background: rgba(0,0,0,.3);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 20;
    &.active {
      visibility: visible;
    }
  }


  .regular-menu {
    display: none;
  }

  // Menu icons
  .btn {
    background: none;
    border: none;
    z-index: 10;
    &.hamburger-btn {
      color: $color-white;
      display: block;
      left: 15px;
      position: fixed;
      top: 15px;
    }
    &.cross-btn {
      @include color-white-opacity(0.8);
      left: 90%;
      position: absolute;
      top: 15px;
    }
    .fa {
      font-size: 20px;
    }
  }

} // end @media mobile

// Tablet
@media all and (min-width: $mobile-width+1px) and (max-width: $tablet-width) {
  .regular-menu {
    margin: 1em 0;
    text-align: center;
    li {
      display: inline-block;
      font-size: 12pt;
      text-align: center;
      text-transform: uppercase;
      width: 48%;
      border: 1px solid $color-main-blue;
      @include border-radius(3px);
      padding: .5em 0;
    }
  }

}

// Desktop
@media all and (min-width: $tablet-width+1px) {
  .regular-menu {
    &::before {
      content: "MENU";
      display: block;
      padding: 10px 5px;
      border-bottom: 2px solid $color-grey;
      background: $color-main-blue;
      text-align: center;
      color: $color-white;
    }
  }
}
