.collapsable-menu {
  display: none;
}

.sidebar {
  margin: 50px 0;
}

/* Mobile */
@media all and (max-width: $mobile-width) {

  .collapsable-menu {
    background: $color-main-blue;
    display: block;
    height: 100%;
    left: -75%;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    @include transition(transform 0.5s);
    width: 75%;
    z-index: 30;
    ul {
      li {
        padding: 10px;
        a {
          color: white;
        }
      }
    }
    &.active {
      @include transform(translateX(100%));
    }
  }


  .shadow-screen {
    background: rgba(0,0,0,.3);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 20;
    &.active {
      visibility: visible;
    }
  }


  .sidebar {
    display: none;
  }

  // Menu icons
  .btn {
    background: none;
    border: none;
    color: $color-white;
    z-index: 10;
    &.hamburger-btn {
      left: 10px;
      position: fixed;
      top: 12.5px;
    }
    &.cross-btn {
      left: 90%;
      position: relative;
    }
    .fa {
      font-size: 20px;
    }
  }

} // end @media mobile
