.photos {

  ul {
    width: 100%;

    li {
      display: inline-block;
      margin: 1em 0;
      //@extend .column-3;

      // main photo (avoid avatar)
      &>img {
        width: 100%;
      }
    }
  }

  .user {
    margin: .4em 0;
    position: relative;
    width: 100%;

    &>* {
      vertical-align: middle;
    }

    img {
      @include border-radius(50%);
      height: 25px;
      padding: 0;
      margin: 0;
      width: 25px;
    }

    a {
      padding-left: 0.4em;
    }

    time {
      color: $color-light-grey;
      position: absolute;
      right: 0;
      top: 5px;
    }
  }

  .user-actions {
    span {
      color: $color-light-grey;
      cursor: pointer;
      font-size: 20px;
      margin: 0.25em 0 0.5em;
    }
    span + span {
      margin-left: 10px;
    }

    .fa-heart {
      &.active {
        color: $color-red;
      }
    }
  }

  .comments {
    // likes
    label {
      color: $color-dark-grey;
      display: block;
      font-weight: bold;
      padding: 0 0 0.7em;
    }
  }

  .comment {
    text-align: justify;
    text-justify: inter-word;
    a:after {
      content: ' ';
    }
    padding: .2em 0;
  }

}

// Mobile
@media all and (max-width: $mobile-width) {
  .photos {
    margin: 50px 0 0;
  }

}

// Tablet
@media all and (min-width: $mobile-width+1px) and (max-width: $tablet-width) {

}
