/* Sizes */
// $max-width: 968px;
$max-width: 700px;
// $mobile-width: 320px; // Apple iPhone 5
$mobile-width: 414px; // Apple iPhone 6 Plus
// $tablet-width: 768px; // Apple iPad
$tablet-width: 800px; // Google Nexus 10
$desktop-width: 1024px;

/* Fonts */
@font-face {
    font-family: Billabong;
    src: url(fonts/Billabong.ttf);
}
