/* Sizes */
$max-width: 968px;
// $mobile-width: 320px; // iPhone 5
$mobile-width: 414px; // iPhone 6 Plus
$tablet-width: 768px;
$desktop-width: 1024px;

/* Fonts */
@font-face {
    font-family: Billabong;
    src: url(fonts/Billabong.ttf);
}

/* Mixins */
@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transform($transform-function) {
  -webkit-transform: $transform-function;
  transform: $transform-function;
}
